http_interactions:
- request:
    method: get
    uri: https://www.bfs.admin.ch/bfs/de/home/statistiken/kataloge-datenbanken/daten/_jcr_content/par/ws_catalog.rss.xml?skipLimit=true
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: text/xml;charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: "<rss version=\"2.0\">\n            <channel>\n                <title>Statistik
        Schweiz - Interaktive Tabellen</title>\n                <link>https://www.bfs.admin.ch/content/bfs/de/home/statistiken/kataloge-datenbanken/daten.html</link>\n
        \               <description>Katalog der interaktiven Tabellen vom Bundesamt
        für Statistik</description>\n                <language>de</language>\n                <copyright>BFS/OFS/UST/FSO</copyright>\n
        \               <pubDate>Tue, 13 Apr 2021 08:30:00 +0200</pubDate><ttl>60</ttl>\n
        \               <item>\n                        <title>Neue Inverkehrsetzungen
        von Strassenfahrzeugen nach Monaten (provisorische Daten 2021 mit Vorjahresvergleich):
        Resultate nach Kanton, Fahrzeuggruppe, Fahrzeugart, Treibstoff, Monat und
        Jahr</title>\n                        <link>https://www.bfs.admin.ch/content/bfs/de/home/statistiken/kataloge-datenbanken/daten.assetdetail.16764792.html</link>\n
        \                       <pubDate>Tue, 13 Apr 2021 08:30:00 +0200</pubDate><guid
       [...]
